{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false,
        "spec":false,
        "forceAllTransforms":true,
        "modules":false,
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 10"
          ],
          "node":"current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": true,
        "polyfill": false,
        "regenerator": true
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    "lodash"
  ]
}