@import '../../../sass/mixins';

.userpage {
  .row-top {
    position: relative;
    a.back {
      left: 15px;
      display: inline-block;
      @include vertical-center;
    }
  }
  .user-picture {
    display: block;
    overflow: hidden;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
}